:host {
  display: block;
  width: 130px;
  margin-top: 160px;

  background-color: var(--secondary-color);
  border-radius: 0 25px 0 0;
  box-shadow: -5px -5px 10px 3px #222237;
  color: var(--primary-text-color);
  border: 1px solid #2a2a50;
}
