@import '../../../libs/ui-kit/src/lib/scss/themes';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

h1 {
  line-height: 24px;
  letter-spacing: 1.6px;
  margin: 0;
}

p {
  margin: 0;
}
