<div class="left">
  <div class="left-header"></div>
  <div class="scroll-wrapper">
    <dashboard-welcome-card></dashboard-welcome-card>
    <div class="room-section">
      <div class="info-row">
        <p>Jans Home</p>
        <dashboard-dropdown
          [options]="rooms"
          [selectedOption]="selectedRoom"
          (selectedOptionChange)="changeRoom($event)"
        ></dashboard-dropdown>
      </div>
      <div class="devices">
        <dashboard-device-power-card
          *ngFor="
            let device of devices
              | filterBy
                : (selectedRoom === 'Alle' ? null : selectedRoom)
                : 'room'
          "
          [device]="device"
        ></dashboard-device-power-card>
      </div>
    </div>
  </div>
</div>
<div class="right"></div>
