<div class="left">
  <div class="header"></div>

  <dashboard-welcome-card></dashboard-welcome-card>

  <div class="info-row">
    <p>Jans Home</p>
    <dashboard-dropdown
      [options]="rooms"
      [selectedOption]="selectedRoom"
      (selectedOptionChange)="changeSelectedRoom($event)"
    ></dashboard-dropdown>
  </div>
  <div class="scroll-wrapper">
    <div class="room-section">
      <div class="devices">
        <ng-container
          *ngFor="
            let device of devices
              | filterBy
                : (selectedRoom === 'Alle' ? null : selectedRoom)
                : 'room'
          "
        >
          <dashboard-device-power-card
            *ngIf="!device.disabled"
            [device]="device"
          ></dashboard-device-power-card
        ></ng-container>
      </div>
    </div>
  </div>
</div>
<div class="right">
  <div class="header"></div>
  <div class="info-row">
    <p>Jans Home</p>
    <dashboard-dropdown
      [options]="states"
      [selectedOption]="selectedState"
      (selectedOptionChange)="changeSelectedState($event)"
    ></dashboard-dropdown>
  </div>
  <div class="scroll-wrapper">
    <div class="room-section">
      <div class="devices">
        <ng-container
          *ngFor="
            let device of devices
              | filterBy
                : (selectedState === 'Alle'
                    ? null
                    : selectedState.toLowerCase() === 'on' ?? false)
                : 'on'
          "
        >
          <dashboard-device-power-card
            *ngIf="!device.disabled"
            [device]="device"
          ></dashboard-device-power-card
        ></ng-container>
      </div>
    </div>
  </div>
</div>
